/* Filters */
.filters {
    width: 180px;
}
.filter fieldset {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    border: 0;
}
.filter fieldset:first-child {
    margin-bottom: 35px;
}
.filter legend {
    margin-bottom: 26px;
    font-size: 24px;
    line-height: 30px;
}
.filter ul {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 18px;
}
.filter-option {
    margin-bottom: 19px;
    padding-left: 45px;
}
.filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

/* Checkbox */
.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
    color: var(--special);
}
.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    top: 0;
    left: -42px;
    width: 16px;
    height: 16px;
    border: 2px solid #000000;
}
.filter-input-checkbox:checked + label::after {
    content: "";
    position: absolute;
    top: 4px;
    left: -38px;
    width: 12px;
    height: 12px;
    background-image: url("../img/cross.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

/* Radio */
.filter-input-radio + label::before {
    content: "";
    position: absolute;
    left: -42px;
    top: -1px;
    width: 16px;
    height: 16px;
    border: 2px solid #000000;
    border-radius: 50%;
}
.filter-input-radio:checked + label::after {
    content: "";
    position: absolute;
    top: 5px;
    left: -36px;
    width: 8px;
    height: 8px;
    background-color: #000000;
    border-radius: 50%;
}

.filter-button {
    padding-right: 30px;
    padding-left: 30px;
}